.headercolor{
  /*background-color: #015D82;*/
  background-color: var(--color-primary);
  color:white;
}
.font{
  color: white;
}
.btn-block { 
  display: block; 
  width: 100%; 
}
.fontabla{
  font-size: 12px;
}

:root {
  --size-page: 1280px;
  --color-primary: #00222F;
  --color-secondary: #146696;
  --color-secondary-light: #068bd8;
  --color-third: #2ba179;
  --color-third-light: #00bd7e;

  --color-white: #fff;
  --color-gray: #909090;
  --color-gray-light: #b9b9b9;
  --color-gray-dark: #313131;
  --color-black: #101518;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: normal;
}

html {
  box-sizing: inherit;
}

body {
  font-family: system-ui, sans-serif;
  font-size: 16px;  
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


/*  Utilities  */

.container {
  max-width: var(--size-page);
  margin-inline: auto;
}

/* List element */
.lista {
  counter-increment: index; 
  display: flex;
  align-items: center;
  padding: 6px 30px;
  box-sizing: border-box;
}


/* Element counter */
.lista::before {
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 25px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
}

.menuicon {
  width: 100px;  /* Ajusta el tamaño según necesites */
  height: 100px;
}

.custom-breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 1rem;
  }

  .breadcrumb-link {
    text-decoration: none;
    color: #00222f; /* blanco suave */
    font-weight: 500;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }

  .breadcrumb-link:hover {
    color: var(--color-primary); /* verde suave */
    text-shadow: 0 0 10px rgb(32, 255, 3); /* brillo sutil */
    /* text-shadow: 0 0 10px rgba(7, 26, 59, 0.941); brillo sutil */
  }

  .breadcrumb-item + .breadcrumb-item::before {
    color: #bbb;
  }

  .zoom-container {
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  height: 400px;
  user-select: none;
}

.zoom-controls {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 5px;
  background: rgba(255, 255, 255, 0.9);
  padding: 5px 8px;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  z-index: 10;
}